body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
}


.imagen-pizza {
    align-items: flex-start;
    width: 100%;
}
    

.columna2{
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    display: table;
}

h1{
    font-weight: bold;
    font-size: 1.8rem;
    font-family: Cabin;
}
    
.subtitulo{
    font-size: 1rem;

}
.texto-nav{
    padding-right: 5rem;
    font-size: 1rem;
    word-spacing: 5rem;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;

}


.titulo-footer{
    font-weight: bold;
    padding-top: 3rem;
    font-size: 1.5rem;
}

.subtitulo-footer{
    font-weight: lighter;
    padding-bottom: 3rem;
    font-size: 1.5rem;

}

.footer-final{
    height: 7rem;
}

.newsletter span{
    font-family: 'Lobster', cursive;
    display: flex;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
}

.texto-footer{
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
}

.texto-nav1{
    text-align: left;
    color: white;
    font-family: 'Lobster', cursive;
}




    
